<nav role="navigation" class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a {{action "doVideos"}}class="brand">iSpeak</a>
      <div class="nav-collapse">
        <div class="pull-right">
          <ul class="nav">
            <li><a {{action "doChart"}}>Chart</a></li>
            <li><a {{action "doHelp"}}>Help</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<div id="main" role="main" class="container" style="padding-top: 10px;">
  {{outlet}}
</div>
