{{#each video in content}}
<li>
  <a class="clearfix">
    <img class="preview" src="http://ispeakvideo.s3.amazonaws.com/test/inc/ffff_screenshot_200_1.jpg" {{action "doVideo" "video"}}>
    <div class="video_item pull-left">
      {{video.name}}
      <p>Показов: 23 / </p>
    </div>
    <div class="pull-right">
      <div><i class="icon-remove pull-right show" {{action removeItem video target="this"}}></i></div>
      {{view App.ChangeButton target="this" contentBinding="video" urlBinding="controllers.urlController.url"}}
    </div>
  </a>
</li>
{{/each}}
